


@media screen and (max-width: 450px){
    .registration_form input {
        width: 100%;
      }
      .registration_form select {
        width: 100%;
      }
      .registration_form option {
        width: 100%;
      }
      .registration_form input[type="submit"] {
        width: 100%;
      }
    

}

